/*	==========================================================================
	Author: Mvishal Shukla
	Updated: --/--/--
	Notes: Hand Coded SCSS.
	========================================================================== */

@charset "UTF-8";

/*	==========================================================================
	#Import Setting
		*modules
			*functions
			*variables
			*mixins
			*reset
			*base
		*partials
			*header
			*footer
	#Demo Code
	========================================================================== */

@import "modules/functions";
@import "modules/variables";
@import "modules/mixins";
@import "modules/reset";
@import "modules/base";
@import "modules/bootstrap3";

/*	==========================================================================
		#Materialize
	========================================================================== */

@import "vendor/materialize_sass/materialize";

/*	==========================================================================
		#Partials
	========================================================================== */

@import "partials/header";
@import "partials/footer";
@import "partials/keyframes";
@import "partials/index";
@import "partials/contact";

/*	==========================================================================
		#Demo Code
	========================================================================== */

/* Placeholder-color first on the browser-prefix */
input {
    @include mv-placeholder-color(red);
}

/*	==========================================================================
		#Demo code for media query
	========================================================================== */
.media {
    @include mv-media(max, 991px) {
        color: green;
    }

    @include mv-media(min, 992px) {
        color: greenyellow;
    }

    @include mv-media(420px, 450px) {
        color: red;
    }

    color: darkred;
}
