html {
    height: 100%;

    body {
        height: 100%;
        font-family: $font_text;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0px;

        @include sm-down {
            font-size: 14px;
        }
    }
}

textarea {
    box-sizing: border-box;
}

select {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    background: #333;
}

/* Track */
::-webkit-scrollbar-track {
    //    box-shadow: inset 0 0 5px grey;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color_primary;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($color_primary, 5%);
}

//placeholder color
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000 !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font_heading;
    letter-spacing: 0;
}

.rem_link_style {
    text-decoration: none !important;
    color: inherit;

    &:hover {
        color: inherit;
    }

    &:active {
        color: inherit;
    }
}

.relative_box {
    position: relative;
    min-height: 1px;
}

.full_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn_project_default {
    font-size: 12px;
    background-image: none;
    border-radius: 0;
    border: 0;
    letter-spacing: 2px;
    padding: 10px 35px;
    margin: 20px;
    box-shadow: none;
    text-shadow: none;
    background-color: $color_primary;
    color: white;
    outline: none !important;
    text-transform: uppercase;

    @media only screen and (max-width: 767px) {
        padding: 8px 18px;
    }

    &:hover {
        background-color: $color_primary;
        color: white;
    }

    &:active {
        background-color: $color_primary;
        color: white;
    }

    &:focus {
        background-color: $color_primary;
        color: white;
    }
}

.loader_overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 1000;

    .loader_spinner {
        position: absolute;
        top: calc(50% - 60px);
        left: calc(50% - 60px);
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border-top: 5px solid black;
        border-left: 5px solid gray;
        border-bottom: 5px solid gray;
        border-right: 5px solid gray;
        width: 120px;
        height: 120px;
        animation: spin_360 2s linear infinite;
    }
}

.no_pad {
    padding: 0 !important;
}

.no_marg {
    margin: 0 !important;
}

.rel_y_center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rel_x_center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.rel_xy_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mobile_navbar {
    display: none;
    position: fixed;
    padding: 15px;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    box-shadow: 0px 0px 14px -10px #333;
    height: 60px;

    @include sm-down {
        display: block;
    }

    .navbar_logo {
        @extend .rel_xy_center;
        max-height: 50px;
    }
}

#nav-icon3 {
    width: 24px;
    height: 18px;
    left: 5%;
    margin-left: 10px;
    @extend .rel_y_center;
    transition: all 0.5s ease-out;
    cursor: pointer;
    z-index: 100;

    @include sm-up {
        display: none;
    }

    @include sm-down {
        left: 0;
        margin-top: 5px;
        top: 0px;
        transform: none;
        position: relative;
    }

    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 7px;
        }

        &:nth-child(3) {
            top: 7px;
        }

        &:nth-child(4) {
            top: 14px;
        }
    }

    &.open {
        span {
            &:nth-child(1) {
                top: 7px;
                width: 0%;
                left: 50%;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 7px;
                width: 0%;
                left: 50%;
            }
        }
    }
}

.sidebar_wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 50px 15px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 100;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.5s ease-out;

    @include sm-up {
        display: none;
    }

    &.open {
        transform: translateX(0%);
    }

    .links {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;

        a {
            @extend .rem_link_style;
            font-size: 22px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 10px 0px;
            color: $color_darkblue;
        }
    }
}

#thank-you-msg {
    display: none;
    font-size: 20px;
    color: green;
    font-style: italic;
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

.social_icons {
    display: flex;
    --dim: 40px;

    @include sm-down {
        --dim: 30px;
    }

    a {
        width: var(--dim);
        height: var(--dim);
        font-size: 20px;
        text-align: center;
        line-height: var(--dim);
        border-radius: 5px;
        background-color: $color_darkblue;
        color: white;
        margin: 0 5px;

        @include sm-down {
            font-size: 14px;
        }
    }
}

.section_title {
    position: relative;
    font-size: 52px;
    line-height: 1.2;
    font-family: $font_heading;
    color: $color_primary;
    display: inline-block;
    @include mv-media(max,991px){
        font-size: 42px;
    }
    @include sm-down{
        font-size: 28px;
    }
}
.para{
    font-size: 20px;
    line-height: 1.6;
    @include sm-down{
        font-size: 16px;
        text-align: center;
    }
}
.flex-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:nth-child(even){
        @include sm-down{
            flex-direction: column-reverse;
        }
    }
    &:nth-child(odd){
        @include sm-down{
            flex-direction: column;
        }
    }
}

.input-field label.error {
    top: calc(100% - 30px) !important;
    font-size: 12px;
    color: red;
    //   width: auto!important;
    //    left: unset!important;
    //    right: 15px;
}

.input-field label.error.active {
    top: 40px !important;
    transform: translateY(10px) scale(1) !important;
    transform-origin: 0 0 !important;
}

.input-field{
    textarea,input{
        color: white;
        border: 0;
        border-bottom: solid 1px $color_primary !important;
        @extend .para;
        text-align: left;
    }
    label{
        color: white !important;
        @extend .para;
    }
}

.f_r_aj_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f_r_a_center {
    display: flex;
    align-items: center;
}

.f_r_j_center {
    display: flex;
    justify-content: center;
}

.f_c_aj_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f_c_a_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f_c_j_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}